.Pokecard{ 
  background-color: #e4e4e4;
  border: 2px solid  #aeaeae;
  border-radius: 15px;
  width: 22%;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
}

.Pokecard-type, .Pokecard-exp {
  display: block;
}